@font-face {
    font-family: 'Albert Sans';
    src: url('~/assets/fonts/AlbertSans.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('~/assets/fonts/inter.ttf');
    font-style: normal;
}
