/* fonts */
@import url('fonts.css');

/* typography */
@import url('typography.css');


/* buttons */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8.54px 17.08px;
    border-radius: 12px;
    font-size: 14.234px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.504px;
    cursor: pointer;
    outline-color: transparent;
}
.btn-primary{
    border-bottom: 2px solid #BD9BEA;
    background: linear-gradient(266deg, #E29700 -8.52%, #470B96 100%);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    color: #FFF;

}
.btn-secondary{
    color: #631CBF;
    font-weight: 500;
    background: #FFF;
    border: 0.787px solid #FFF;
}

@media (min-width: 640px) {
    .btn{
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        padding: 12px 24px;
        border-radius: 12px;
        letter-spacing: -0.5px;
    }
    .btn-secondary{
        font-size: 18px;
        border-width: 1px;
        padding: 16px 24px;
        border-radius: 12px;
        line-height: 28.8px;
    }
}
